.profile-wrapper {
  position: relative;
  font-family: inherit;
}

/* Button */
.profile-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
 
  background-size: contain;
  padding: 6px;
 

}
.dropdown{
   background-image: url(../img/dropdown.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
}
.profile-btn img {
  width: 32px;
  height: 32px;
    background-image: url(../img/profile.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../img/profile.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.text .name {
  font-weight: 600;
}

.text .dept {
  font-size: 12px;
  color: #6b7280;
}

/* Dropdown */
.dropdown-panel {
  position: absolute;
  top: 110%;
  right: 0;
  width: 280px;
  background: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all .25s ease;
  z-index: 1000;
}

.dropdown-panel.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Header */
.header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.avatar-lg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-image: url(../assets/icons/dropdown.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Info */
.info {
  margin: 6px 0;
  font-size: 14px;
}

/* Buttons */
.btn {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 6px;
}

.btn.edit {
  background: #6366f1;
  color: white;
}

.btn.logout {
  background: #ef4444;
  color: white;
}

/* Dark Mode */
body.dark-mode .dropdown-panel {
  background: #1f2937;
  color: #f9fafb;
}

body.dark-mode .dept {
  color: #9ca3af;
}
