<div class="d-flex sidebar " id="wrapper">
  <nav class="sidebar collapsed" id="sidebar" [class.collapsed]="isSidebarCollapsed">

    <!-- Sidebar Header -->
    <div class="sidebar-header d-flex align-items-center justify-content-between p-3">
      @if (!isSidebarCollapsed) {
        <span class="logo-text fw-bold fs-5">PRO DASH</span>
      }

      <button class="btn" type="button" (click)="toggleSidebar()">
        <i
          class="bi"
          [class.bi-list]="isSidebarCollapsed"
          [class.bi-text-indent-left]="!isSidebarCollapsed">
        </i>
      </button>
    </div>

    <!-- Search -->
    @if (!isSidebarCollapsed) {
      <div class="px-3 mb-4 mt-3" >
        <div class="search-box position-relative">
          <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-2 text-muted"></i>
          <input
            type="text"
            class="form-control form-control-sm ps-5 bg-light border-0"
            placeholder="Search...">
        </div>
      </div>
    }

    <!-- User Profile -->
    <div
      class="user-profile d-flex align-items-center px-3 mb-4"
      [class.justify-content-center]="isSidebarCollapsed">

      <app-profile-dropdown
        [isCollapsed]="isSidebarCollapsed">
      </app-profile-dropdown>
    </div>

    <!-- Menu -->
    <ul class="list-unstyled px-2">
      @for (item of menuItems; track item.id) {
        <li class="mb-1">

          <button
            type="button"
            class="btn nav-link d-flex align-items-center justify-content-between w-100 py-2 px-3 rounded"
            (click)="toggleMenu(item.id)"
            [class.active]="openMenus[item.id]">

            <div class="d-flex align-items-center">
              <i class="bi fs-5 px-2" [ngClass]="item.icon"></i>

              @if (!isSidebarCollapsed) {
                <span class="ms-3">{{ item.label }}</span>
              }
            </div>

            @if (!isSidebarCollapsed) {
              <i
                class="bi bi-chevron-down small transition-icon"
                [style.transform]="openMenus[item.id] ? 'rotate(180deg)' : 'rotate(0deg)'">
              </i>
            }
          </button>

          <!-- Submenu -->
          @if (item.subItems.length) {
            <div
              class="submenu-container"
              [class.show]="openMenus[item.id] && !isSidebarCollapsed">

              <ul class="list-unstyled ps-5 mt-1 pb-2">
                @for (sub of item.subItems; track sub.label) {
                  <li>
                    <a
                      [routerLink]="sub.link"
                      routerLinkActive="active"
                      class="submenu-link d-block py-1 text-muted small text-decoration-none">
                      {{ sub.label }}
                    </a>
                  </li>
                }
              </ul>

            </div>
          }

        </li>
      }
    </ul>

  </nav>
</div>
<!-- Sidebar Toggle Button -->    

