

body.dark-theme .stat-card{
    background-color: #1e1e1e!important;
}
 body.dark-theme .main-body-container {
  position: absolute;
   background-color:  #121212!important;
    top: 91px;
}

#wrapper {
    
  min-height: 100vh;
  background-color: #121212; // Dark background for the whole page
}
@media (max-width: 768px) {
  body.dark-theme #sidebar:not(.collapsed) {

    top: 171px !important;
   
  }
   body.dark-theme #sidebar.collapsed {

    top: 171px !important;
   
  }
}